<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558531435873-i2q84oifhovsn6omc920ijmttm0kocjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558531435873-i2q84oifhovsn6omc920ijmttm0kocjr</string>
	<key>API_KEY</key>
	<string>AIzaSyDRsGUUmGc6J86ZMxV6EDqqjHwaS89AJpc</string>
	<key>GCM_SENDER_ID</key>
	<string>558531435873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jtb.dongnemento</string>
	<key>PROJECT_ID</key>
	<string>dongnemento</string>
	<key>STORAGE_BUCKET</key>
	<string>dongnemento.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558531435873:ios:773b7e9fd920a9643e7920</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The app needs location permission</string>
</dict>
</plist>