<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558531435873-qahvjdvh5cie78erhstbvjot13mblvki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558531435873-qahvjdvh5cie78erhstbvjot13mblvki</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>558531435873-p9idq74bnj2puae4tnm5bn3t20cpqn7j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClhnVQoimu70PVTYOaCOqOLam2rZnWGxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>558531435873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jtb.dongnemento</string>
	<key>PROJECT_ID</key>
	<string>dongnemento</string>
	<key>STORAGE_BUCKET</key>
	<string>dongnemento.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558531435873:ios:a778713668e839fd3e7920</string>
</dict>
</plist>